<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mapper.AuthorMapper">

    <insert id="save" parameterType="com.ly.pojo.Author">
        insert into author(username, password, description) values (#{username},#{password},#{description})
    </insert>

    <select id="findPage" resultType="com.ly.pojo.Author">
        select * from author
    </select>

</mapper>